body{
    background-color: lightgray;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: lightslategray;
    color: lightgrey;
    text-align: center;
    font-size: 20px;
}
h2{
    color: darkslategray;
}
h3{
    color:slategray
}
ul{
    color:dimgray
}